/app.json
/icon.svg
/babel.config.js
/jest.config.js
/next.config.js
/next-env.d.ts
/tsconfig.base.json
/tsconfig.build.json
/tsconfig.json
/template
/app
/pages
/boilerplate
/src
/storybook-static
/.storybook
/.next
/public
/out
/build
/__mocks__